[submodule "external_dependencies/IsaacLab"]
	path = external_dependencies/IsaacLab
	url = https://github.com/isaac-sim/IsaacLab

[submodule "external_dependencies/OceanSim"]
	path = external_dependencies/OceanSim
	url = https://github.com/umfieldrobotics/OceanSim

[submodule "external_dependencies/leisaac"]
	path = external_dependencies/leisaac
	url = https://github.com/lightwheelai/leisaac

[submodule "external_dependencies/lerobot"]
	path = external_dependencies/lerobot
	url = https://github.com/huggingface/lerobot

[submodule "external_dependencies/MarineGym"]
	path = external_dependencies/MarineGym
	url = https://github.com/Marine-RL/MarineGym.git
